@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
  padding-top: 83px;
  .navigateSection {
    @include flex_box_custom(space-between, center, 0px);
    color: $primary_color;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
  }
  .contentSection {
    @include flex_box_custom(unset, flex-start, 20px);

    .imageBox {
      max-width: 610px;
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .imageReview {
        width: calc(100% / 2 - 10px);
        height: 350px;
        object-fit: cover;
        border-radius: 3px;
        cursor: zoom-in;
      }
    }
    .infoBox {
      flex-grow: 1;
      h1 {
        font-size: 24px;
        margin-top: 0px;
        font-weight: 400;
        color: $four_color;
      }
      .price {
        font-size: 20px;
        color: $secondary_color;
      }
      .des {
        color: $thr_color;
        font-weight: 400;
      }
      .boxSize {
        @include flex_box_custom(flex-start, center, 10px);
        .size {
          @include flex_box_custom(center, center, 0px);
          border: 1px solid #e1e1e1;
          padding: 6px 10px;
          font-size: 12px;
          color: $thr_color;
          cursor: pointer;
        }
        .active {
          border: 1px solid $thr_color;
        }
      }
      .titleSize {
        margin-bottom: 8px;
        font-weight: 400;
        color: $thr_color;
      }
      .functionInfo {
        @include flex_box_custom(space-between, center, 20px);
        margin-top: 20px;
        .boxBtn {
          flex-grow: 1;
        }
        .incrementAmount {
          @include flex_box_custom(center, center, 0px);

          div {
            border: 1px solid #e1e1e1;
            padding: 8px 5px;
            color: $secondary_color;
            cursor: pointer;
          }
          div:nth-child(2) {
            padding: 8px 10px;
            color: $primary_color;
            cursor: unset;
          }
        }
      }
      .orSection {
        @include flex_box_custom(center, center 0px);
        margin: 20px 0px;
        div {
          width: 100%;
          margin: 8px 0px;
          height: 1px;
          background-color: #e1e1e1;
        }
        span {
          padding: 0px 10px;
          color: $four_color;
          font-size: 12px;
        }
      }
      .addFunction {
        @include flex_box_custom(unset, center, 10px);
        margin: 30px 0;

        div {
          @include flex_box_custom(center, center, 0px);
          border: 1px solid #e1e1e1;
          border-radius: 50%;
          padding: 10px;
          cursor: pointer;
          svg {
            font-size: 16px;
          }
        }
      }
      .info {
        @include flex_box_custom(unset, flex-start, 10px);
        flex-direction: column;
        margin: 20px 0;
        color: $four_color;
        span {
          color: $secondary_color;
        }
      }
    }
  }
}
.containerInfo {
  div:last-child {
    border-bottom: none;
  }
  .itemInfo {
    @include flex_box_custom(flex-start, center, 0px);
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0px;
    div {
      width: 50%;
    }
    .title {
      color: $secondary_color;
    }
    .content {
      color: $thr_color;
    }
  }
}
.containerReview {
  .reviews {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
  }
  .noReview {
    font-size: 14px;
    color: $thr_color;
    margin-bottom: 20px;
  }
  .replyForm {
    padding-top: 30px;
    .commentReplyTitle {
      border-bottom: 1px solid #e1e1e1;
      font-size: 14px;
      margin-bottom: 14px;
      padding-bottom: 14px;
      color: $thr_color;
    }
    .commentNotes {
      font-size: 14px;
      color: $thr_color;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .commentFormCookiesConsent {
        display: flex;
        gap: 5px;
        align-items: flex-start;
        input {
          margin-top: 2px;
        }
        span {
          color: $thr_color;
        }
      }
      .btnSubmit {
        width: 100%;
        max-width: 110px;
      }
    }
  }
}
.formItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    font-size: 16px;
    color: $thr_color;
    span {
      color: #c62828;
    }
  }
  .boxItemStar {
    display: flex;
    gap: 25px;
  }
  textarea {
    border: 1px solid #e1e1e1;
    outline: none;
    padding: 8px 15px;

    &:focus {
      border: 1px solid $secondary_color;
    }
  }
  input {
    border: 1px solid #e1e1e1;
    padding: 8px 15px;
    outline: none;
    &:focus {
      border: 1px solid $secondary_color;
    }
  }
}
.clear {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  color: $thr_color;
}
.activeDisableBtn {
  cursor: not-allowed;
  opacity: 0.7;
}
.activeDisableBtn:hover {
  background-color: $primary_color;
  color: $white_color;
}
.emptyData {
  height: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font: 24px;
  }
  Button {
    width: 100%;
    width: 200px;
  }
}
.loading {
  height: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
