@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
  @include flex_box_custom(center, flex-start, 25px);
  margin-top: 20px;
  position: relative;
  padding: 20px;
  transition: all 0.3s ease;
  .overlayLoading {
    @include flex_box_custom(center, center, 0px);
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  img {
    width: 70px;
  }
  .boxContent {
    @include flex_box_custom(center, flex-start, 0px);
    flex-direction: column;
    .title {
      font-size: 16px;
      color: $primary_color;
    }
    .price {
      font-size: 14px;
      color: $four_color;
      margin-bottom: 7px;
    }
    .size {
      color: #9e9e9e;
      margin-top: 7px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  &:hover {
    background-color: #f7f7f7;
    .boxClose {
      transform: translateX(0);
    }
  }
  .boxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transform: translateX(40px);
    transition: all 0.3s ease;
  }
}
