@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
  padding-top: 83px;
  .functionBox {
    @include flex_box_custom(space-between, center, 0px);
    color: $secondary_color;
    font-size: 14px;
    font-weight: 300;
    .specialText {
      color: $primary_color;
      font-weight: 400;
    }
    .btnBack {
      cursor: pointer;
    }
  }
}
.containerBanner {
  background-image: url('https://xstore.8theme.com/elementor2/marseille04/wp-content/uploads/sites/2/2022/12/Background.jpeg');
  height: 279px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  .contentBox {
    @include flex_box_custom(center, center, 30px);
    flex-direction: column;
    padding: 60px 0;
    .title {
      font-size: 20px;
      color: $four_color;
      font-weight: 400;
    }
    .countDownBox {
      @include flex_box_custom(center, center, 10px);
    }
    .countDownBox > span {
      margin-top: 0px;
      border: 1px solid #e1e1e1;
    }
    .boxBtn {
      width: 160px;
    }
  }
}
.containerFilter {
  @include flex_box_custom(space-between, center, 0px);
  margin-top: 15px;
  .boxIcon {
    @include flex_box_custom(space-between, center, 10px);
  }
  .boxLeft {
    @include flex_box_custom(space-between, center, 20px);
  }
  .selectBox {
    border: 1px solid #e1e1e1;
    padding: 5px;
    color: $secondary_color;
  }
  .selectBox.sort {
    width: 275px;
  }
  .selectBox.show {
    width: 83px;
  }
}
