@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
  display: flex;
  width: 100%;
  gap: 20px;

  .leftBody {
    flex-grow: 1;
    .raw {
      margin-bottom: 20px;
    }
    .raw2Column {
      display: flex;
      gap: 20px;
    }
    .title {
      font-size: 14px;
      color: $primary_color;
      text-transform: uppercase;
    }
    .coupon {
      font-size: 14px;
      color: $four_color;
      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .rightBody {
    max-width: 500px;
    width: 100%;
    height: 600px;
    border: 2px solid $primary_color;
    padding: 15px 20px;
    .items {
      height: 90px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 30px 0;
      .item {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        margin-bottom: 10px;
        img {
          width: 70px;
          height: 80px;
        }
        p {
          margin: 0 0 10px 0;
          color: $thr_color;
        }
      }
    }
    .title {
      color: $primary_color;

      margin-bottom: 8px;
    }
    .subTotal {
      display: flex;
      justify-content: space-between;
      color: #8888;
      p:nth-child(2) {
        font-size: 14px;
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      color: #222;
      font-size: 20px;
    }
    .payment {
      border-top: 1px solid #e1e1e1;
      padding-top: 25px;
      margin-bottom: 10px;
      label {
        color: #222;
      }
    }
  }
}
