@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
  @include flex_box_custom(center, center, 0px);

  left: 0px;
  right: 0px;
}
.topHeader {
  position: absolute;
  top: 0px;
}
.fixedHeader {
  position: fixed;
  top: -83px;
  background-color: #ffffffe6;
  box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  z-index: 999;
  transform: translateY(83px);
  transition: transform 0.5s ease;
}
.containerHeader {
  display: flex;
  width: 1250px;
  align-items: center;
  justify-content: space-between;
  height: 83px;
}
.containerBoxIcon {
  @include flex_box_custom(center, center, 20px);
  &:hover {
    cursor: pointer;
  }
}
.boxIcon {
  width: 26px;
  height: 26px;
  background-color: $primary_color;
  @include radius_common(50%);
  @include flex_box_custom(center, center, 0px);
}
.containerMenu {
  @include flex_box_custom(center, center, 40px);
}
.containerBox {
  @include flex_box_custom(center, center, 20px);
}
.menu {
  font-size: 15px;
  padding-top: 9px;
  cursor: pointer;
  color: $primary_color;
}
.menu::after {
  content: '';
  display: block;
  height: 3px;
  background-color: $primary_color;
  opacity: 0;
  margin-top: 6px;
  transform-origin: right;
  transform: scale(0);
  transition: transform 300ms, opacity 500ms;
}
.menu:hover::after {
  opacity: 1;
  transform: scale(1);
}
