@use '@styles/mixin.module.scss' as *;
.container {
  position: relative;
  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #0000004d;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  .sideBar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 350px;
    background-color: #fff;
    z-index: 1001;
    height: 100%;
    overflow-y: auto; // cho phép cuộn dọc
    overflow-x: hidden; // tránh cuộn ngang

    transform: translateX(350px);
    transition: all 0.3s ease;
  }
  .sideBar::-webkit-scrollbar {
    width: 6px;
  }

  .sideBar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .slideSideBar {
    transform: translateX(0);
  }
  .boxIcon {
    @include flex_box_custom(center, center, 0px);
    position: absolute;
    top: 25px;
    left: -60px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #ccc;
    }
  }
}
