@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
  height: 100vh;
  overflow: scroll;
  padding: 10px;
  .title {
    font-size: 24px;
    color: $four_color;
    margin-top: 20px;
  }
  .price {
    font-size: 20px;
    margin: 10px 0;
    color: $secondary_color;
  }
  .des {
    color: $thr_color;
  }
  .label {
    margin-top: 10px;
    font-size: 14px;
    color: $thr_color;
    margin-bottom: 5px;
  }
  .boxSize {
    @include flex_box_custom(flex-start, center, 10px);

    .size {
      padding: 9px 12px;
      border: 1px solid #e1e1e1;
      font-size: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        border: 1px solid $primary_color;
      }
    }
    .isActive {
      border: 1px solid $primary_color;
    }
  }
  .boxAddToCart {
    @include flex_box_custom(flex-start, center, 10px);
    margin-top: 20px;
    select {
      width: 65px;
      height: 36px;
    }
    Button {
      width: 190px;
    }
  }
  .boxOr {
    @include flex_box_custom(center, center, 10px);
    font-size: 12px;
    color: $thr_color;
    margin-top: 15px;
    .line {
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      flex-grow: 1;
    }
    margin-bottom: 15px;
  }
  .boxAddOther {
    @include flex_box_custom(flex-start, center, 10px);
    margin-top: 12px;
    color: $four_color;
    cursor: pointer;
  }
  .boxFooter {
    margin-top: 12px;
    span {
      color: $secondary_color;
    }
  }
}
